#navbar {
  background: rgb(216, 30, 30);
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 98.8%;
  position: fixed;
  top: 0;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 20px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li a:hover {
  background-color: aquamarine;
  height: 12px;
}

#main {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20%;
  font-size: 50px;
}

#main2 {
  background-color: aqua;
  color: red;
  padding: 20%;
}

#main2 h1 {
  font-size: 50px;
  top: 1px;
  text-align: center;
}

.image1 {
  size: 1.8em;
  margin: 5px;
  box-sizing: border-box;
  float: left;
}

.image2 {
  size: 1.8em;
  margin: 5px;
  box-sizing: border-box;
  float: right;
}
